.weathercard {
    background-color: rgb(15, 10, 10);
    width: 1000px;
    font-family: "Open Sans", sans-serif;
    width: 450px;
    height: 320px;
    color: white;
    margin: auto;
    border-radius: 20px;
  }
  body,
  div,
  p,
  html,
  h1 {
    margin: 0;
    color: white;
  }
  .temperature {
    margin-top: 30px;
    font-size: 80px;
    font-weight: 400;
    padding: 2%;
    margin: 3%;
  }
  .param-val {
    text-align: right;
  }
  .param-label {
    text-align: left;
  }
  .parameters {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
  }
  img {
    height: 50px;
    width: 50px;
  }
  .uheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .details {
    text-align: center;
    width: 100%;
    padding: 2%;
    margin: 3%;
  }
  .lheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image,
  .header {
    padding: 2%;
    margin: 3%;
  }
  .image {
    margin: 2% 6% 0 0;
  }
  
  .middlediv {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
  }
  